<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android" id="com.ttebd.a8ResPlugin"
    version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>A8ResPlugin</name>
    <js-module name="A8ResPlugin" src="www/A8ResPlugin.js">
        <clobbers target="cordova.plugins.A8ResPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="A8ResPlugin">
                <param name="android-package" value="com.ttebd.a8ResPlugin.A8ResPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/A8ResPlugin.java"
            target-dir="src/com/ttebd/a8ResPlugin/A8ResPlugin" />
        <source-file src="src/android/DeviceBase.java"
            target-dir="src/com/ttebd/a8ResPlugin/A8ResPlugin" />
        <source-file src="src/android/PrinterMain.java"
            target-dir="src/com/ttebd/a8ResPlugin/A8ResPlugin" />
        <source-file src="src/android/LogUtil.java"
            target-dir="src/com/ttebd/a8ResPlugin/A8ResPlugin" />
        <lib-file arch="device" src="src/android/libs/android-logging-log4j-1.0.3.jar" />
        <lib-file arch="device" src="src/android/libs/eptapilibrary.jar" />
        <lib-file arch="device" src="src/android/libs/log4j-1.2.17.jar" />
        <lib-file arch="device" src="src/android/libs/pinpad.jar" />
    </platform>
</plugin>